@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .horizontal {
    display: flex;
  }
  .horizontal-center {
    display: flex;
    align-items: center;
  }

  .vertical {
    display: flex;
    flex-direction: column;
  }
  .vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover {
    display: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

:root {
  --color-primary-50: 243, 245, 247;
  --color-primary-100: 231, 235, 238;
  --color-primary-200: 196, 204, 213;
  --color-primary-300: 160, 174, 187;
  --color-primary-400: 89, 113, 137;
  --color-primary-500: 18, 52, 86;
  --color-primary-600: 16, 47, 77;
  --color-primary-700: 14, 39, 65;
  --color-primary-800: 11, 31, 52;
  --color-primary-900: 0, 0, 9;
}

[data-theme="dark"] {
  --color-primary-900: 243, 245, 247;
  --color-primary-800: 231, 235, 238;
  --color-primary-700: 196, 204, 213;
  --color-primary-600: 160, 174, 187;
  --color-primary-500: 89, 113, 137;
  --color-primary-400: 18, 52, 86;
  --color-primary-300: 16, 47, 77;
  --color-primary-200: 14, 39, 65;
  --color-primary-100: 11, 31, 52;
  --color-primary-50: 0, 0, 9;
}
